/*General containers*/
body { 
    padding: 80px;
    background-color: rgb(27, 27, 35);
}
.box {
    border-radius: 7.5px;
    padding:20px;
}
.primary{
    background-color: rgb(54, 54, 65);
}
.secondary{
    background-color: rgb(28, 28, 32); 
}
.hidden{
    display: none;
}

/*Side containers format*/
.menu{
    float:left;    
    width: 20%; 
}
.grid-container{
    display: inline-grid;
    width: 95%;
    grid-template-columns: 50% 50%;
    column-gap: 5%;
}

/*Game containers*/
.gameSection{
    float:right;
    width: 70%;
}
.table{
    margin:auto;
}


/*Headers*/
h1 {color: #a7adc4;
    text-align: center;
    font-family: 'cursive';
    font-size:x-large;
}
h2 {
    color:#e0e3e2;
    font-size:x-large;
    text-align: center;
}
#Title {
    color:rgb(140, 134, 86);
    font-family:'cursive';
    font-size: xx-large;
}

/*Content*/
p, form {
    color:#e0e3e2;
    font-family: 'Segoe UI','Open Sans','Helvetica Neue','sans-serif';
}
a
.highlight {font-style: italic;}
.stress {color:rgb(140, 134, 86);}
.center {text-align: center;}
#footerSection{
    margin-top: auto;
    font-size:x-small;
    bottom: 0; 
}

/*Links*/
a:link {    /* unvisited link */
    color:rgb(140, 134, 86);
    text-decoration: none;
    border-bottom: 1px solid;
}
a:visited {    /* visited link */
    color:rgba(104, 119, 147, 0.469);
}


/* Images*/
img{
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:auto;
}
#jeweler{
    height:250px;
    box-shadow: 0 0 10px 0.5px rgba(104, 119, 147, 0.469);
}
.jewel {   
    height:50px;
}
img:hover {
    opacity: 0.5;
}


/*Inputs*/
input:hover{box-shadow: 0 0 20px 0.5px rgb(140, 134, 86);}
input[type="button"]{
    border-radius: 5px;
    background:rgb(140, 134, 86);
    transition-duration: 0.4s;
    border:none;
    font-size: 15px;
    height: 40px;
    width: auto;
}
input[type="image"]{
    border-radius: 5px;
    background:rgb(140, 134, 86);
    transition-duration: 0.4s;
    border:none;
    font-size: 15px;
    height: 20px;
    padding: 10px;
    width: auto;
}
input[type="button"]:hover, input[type="image"]:hover{
    background:rgb(54, 54, 65);
    color: rgb(140, 134, 86);
}

/*Cell elements*/
td{
    background-color:#ffffff;
    width:4px;
}
.markedNeighbor{
    opacity: 0.75;
    box-shadow: 0 0 2px 4px rgb(140, 134, 86);
}
.opacity{
    opacity:50%;
}


